body {
    background-color: white;
    font-size: 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#reponse--Div {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

ul {
    list-style-type: disc;
}

li {
    height: 30px;
    width: 100%;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: disc;
    margin-left: 100px;
}

p {
    height: 40px;
    width: 100%;
    font-size: 20px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: disc;
}

#reponse--H1 {
    font-size: 30px;
    font-weight: 600;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

* {
    font-family: 'Poppins', sans-serif;
}