body {
    position: relative;
}

/* Style du boutton retour */
#retour--Div {
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 10px;
    left: 50px;
    z-index: 999;
    background: var(--couleur2);
    background: rgba(44, 44, 44, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1px solid rgba(44, 44, 44, 1);
    border-radius: 10px;
}

#retour--a {
    height: 35px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: rgb(0, 0, 0);;
    font-weight: 600;
    font-size: 17px;
}