#CartesFlashs--Section {
    width:100vw;
    height: 89vh;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

#CartesFlashs--Div {
    width:700px;
    height: 500px;
    background: rgba(44, 44, 44, 0.5);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.9px);
    -webkit-backdrop-filter: blur(3.9px);
    border: 1.5px solid rgba(44, 44, 44, 1);
    transition: box-shadow 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#CartesFlashs--Div:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

h1 {
    color:white;
    width: 90%;
    height: 18%;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    display: flex;
    align-items: flex-end;
}

#Cartes--Flashs--Ul {
    width: 70%;
    height: 82%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    list-style: circle ;
}

#Cartes--Flashs--Ul > li {
    height: 11%;
    width: 100%;
    color: white;
    font-size: 19px;
    display: flex;
    align-items: flex-start;
}

.carte--a:hover {
    text-decoration: underline;
}

a {
    color: white;
}